


.div1{
  background-image: url(/wed-development/images/Screenshot_2.png);
  width: 100% ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1000px) {
  .top-nav{
      padding-top: 60px;
  }
  
  @media screen and (min-width: 1440px) {
    .top-nav{
      padding-top: 70px;
    }
    
  }
}

.home{
  font-size: 19px;
letter-spacing: -1px;
text-transform: uppercase;
color: #000000;
font-weight: 700;
font-family: "Readex Pro";
}

.title bar{
display: flex;
justify-content: center;
}

.nav-item{


font-size: 20px;
letter-spacing: -1px;
text-transform: uppercase;
color: #000000;
font-weight: 200;
font-family: "Readex Pro";
text-align: left;
}
@media only screen and (min-width: 800px) {
.nav-item{
padding-left: 25px;
}
}


@media only screen and (min-width: 800px) {
  .contact-btn{
      margin-left: 62px;
  }
}

.contact-btn{
 
  font-size: 15px;
letter-spacing: -1px;
text-transform: uppercase;
color: #f4f4f4;
font-weight: 700;
font-family: "Readex Pro";
text-align: center;
padding: 6px 61px;
height: fit-content;
background-color: #6e6e6e;

}

.batch{
  font-size: 19px;
letter-spacing: -1px;
text-transform: uppercase;
color: #000000;
font-weight: 700;
font-family: "Readex Pro";
text-align: center;
position: relative;
    top: 101px;
}
@media only screen and ( max-width: 1000px) {
  .batch{
    position: relative;
    top: 50px;
  }
  
}
.ver{
  border-left: 5px;
  height: 37px;
 position: relative;
 top: 94px;
width: 2px;
background-color:#000000;

}
@media only screen and ( max-width: 1000px) {
  .ver{
    position: relative;
    top: 61px;
    height: 28px;
  }
}

.ab{
 
font-size: 92px;
letter-spacing: 4px;
position: relative;
    top: 86px;
text-transform: uppercase;
color:transparent;
font-weight: 400;
font-family: "Pirata One";
text-align: center;

-webkit-text-stroke: 2px #000000;
}
@media only screen and ( max-width: 1000px) {
  .ab{
    position: relative;
    top: 75px;
    -webkit-text-stroke: 1px #000000;
    font-size: 33px;
  }
  }
  .cont1{
    position: relative;
    top: 87px;
font-size: 14px;
color: #777777;
font-weight: 300;
font-family: "Readex Pro";
text-align: center;
height: 172px;
line-height: 17px;
  }

  .learn-btn{
    width: 224px;
height: 51px;
background-color: #000000;
border-radius: 10px;
  }

  .lore{
    position: relative;
    top: -41px;
    position: relative;
    top: -41px;
    font-size: 17px;
    text-transform: uppercase;
letter-spacing: -1px;
line-height: 21px;
color: #000000;
font-weight:900;
font-family: "Readex Pro";
text-align: right;
padding-right: 13px;
  }

  @media only screen and ( max-width: 1000px) {
    .lore{
      position: relative;
      top: 10px;
    
    }
  }

  .div2{
    background-image: url(/wed-development/images/div2.png);
    width: 100% ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  }

 /* .content1{
    font-size: 26px;
letter-spacing: -1px;
line-height: 22px;
text-transform: uppercase;
color: #f4f4f4;
font-weight: 700;
font-family: "Readex Pro";
  }

  .content2{
    font-size: 19px;
letter-spacing: -1px;
line-height: 22px;
text-transform: uppercase;
color: #f4f4f4;
font-weight: 500;
font-family: "Readex Pro";
  }
  .content3{
    width: 796px;
height: 140px;
font-size: 14px;
line-height: 14px;
color: #777777;
font-weight: 300;
font-family: "Readex Pro";
text-align: left;
  } */

  